@import url('../../home.css');

h1,h2,h3,h4,h5,h6{
    margin:0;
}
img{
    display:block;
    max-width:100%;
    height:100%;
}
.main-content{
 margin:2rem;
 display:flex;
 flex-direction: column;
}
.tabs-wrapper{
    display: flex;
    border-bottom:1px solid grey;
}
.tab-title{
    padding:0.5rem 1rem;
    cursor: pointer;
}
.tab-title:nth-child(1){
    border-bottom: 5px solid var(--carlet);
}
.tab-content{
   margin:1rem;
}
.ebook-content{
    margin-top:3rem;
    display:grid;
    grid-template-columns: repeat(4,13rem);
    grid-gap:40px 5rem;
}
.video-content{
    margin-top:3rem;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:40px 50px;
}
.video-player{
    width: 100%;
    /* height:5rem; */
}

/* styles for ebook cards */
.ebook-card{
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.ebook-img-container{
    /* width:100%; */
    height:18rem;
    box-shadow: 2px 2px 10px rgb(56, 54, 54);
}

.ebook-heading{
 padding-bottom:0.5rem;  
 border-bottom:1.4px solid rgb(167, 164, 164); 
}
.ebook-titles{
    display:flex;
    flex-direction: column;
    gap:0.4rem;
    margin-top:0.5rem;
}
.ebook-sub-title{
    color:grey;
}
.ebook-img{
    width: 100%;
}
