<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout.css">
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>MANAH</title>
</head>

<body>

    <nav>
        <img class="nav-image" src="/images/manah-wbb.png" />
        <div class="navbar">
            <ul style="list-style: none;">
                <li class="list-nav"><a href="/index.html">Home</a></li>
                <li class="list-nav"><a href="/register.html">SignIn/Up</a></li>
                <li class="list-nav">About Us</li>
                <li class="list-nav">Help</li>
            </ul>
        </div>
    </nav>
    
    <footer>

        <div class="footer">
            <div class="footer-container image">
                <img class="footer-image" src="/images/manah-wbb.png" />
            </div>
            <div class="vl1"></div>

            <div class="footer-container links">

            </div>
            <div class="vl2"></div>

            <div class="footer-container details">
                <ul style="list-style: none;">
                    <li class="list-contact"><i class="fa fa-phone" aria-hidden="true"></i>123456789</li>
                    <li class="list-contact"><i class="fa fa-laptop" aria-hidden="true"></i><a
                            href="https://manah.netlify.app/">Manah</a></li>
                    <li class="list-contact"><i class="fa fa-map-marker" aria-hidden="true"></i>Mumbai</li>
                    <li class="list-contact"><i class="fa fa-globe" aria-hidden="true"></i>India</li>
                </ul>
            </div>
        </div>

    </footer>
    <script src="home.js"></script>
</body>

</html>