@import url('/home.css');
canvas{
    margin: auto;
    width:100%;
    max-width:800px;
    padding: 1rem;
}
.correct-answers-wrapper{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
.correct-ans{
    margin-left: 3rem;
}