@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --carlet: #89023E;
    --white: #f4f4f4;
    --dark-gray: #3f3d56;
    --Gray: #9CA3AF;
    --dark-green:#629677;
    --egg-plant:#894B58;
    --dark-blue: #33658a;
    --light-blue: #566678;
    --light-purple:#94778b;
    --violet:#4c3957;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: block;
    margin: 0;
    background-color: var(--white);
    overflow-x: hidden;
    box-sizing: content-box;
    width: 100%;
}

/*nav bar*/

.nav-image {
    height: 6rem;
    float: left;
    margin: 1rem;
}

nav {
    background-color: var(--carlet);
    display: inline-block;
    width: 100%;
    text-align: right;
    border: 1px solid transparent;
    border-bottom-right-radius: 1.5rem;
    color: white;
}

.list-nav {
    font-size: 1.4rem;
    display: inline-block;
    padding-right: 2rem;
    margin-right: 1rem;
    margin-top: 1rem;
}

a,
a:after {
    text-decoration: none;
    color: white;
}

/* cards */
.column {
    float: left;
    width: 16%;
    padding: 0 10px;
    margin: 3rem;
}

.row {
    margin-top:3rem;
    margin-bottom:3rem;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /*padding: 16px;*/
    width:20rem;
    text-align: center;
    background-color: #f1f1f1;
    height:300px;
    border-radius: 0.5rem;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
.heroimg {
    display: block;
    margin: auto;
    max-width: 50%;
    margin-top: 3rem;
    
}


p{
    margin: 2rem 0rem;
}
.situational{
    max-width:200px;
}

.card:hover{
    box-shadow: 0 4px 8px 0 var(--Gray);
}
/* card header */
.card-header{
    margin:0px;
    height: 6rem;
    background-color: var(--carlet); 
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    padding-top:1rem;
    font-size:1.5rem;
    color:white;
}


.card hr{
    margin-top:4rem;
}

.c1{
    background-color: var(--dark-green);
}

.c2{
   background-color: var(--dark-gray);
}
.c3{
    background-color: var(--light-blue);
}

.c4{
   background-color: var(--egg-plant);
}
.c5{
    background-color: var(--dark-blue);
}

.c6{
   background-color: var(--light-purple);
}
.c7{
    background-color:var(--dark-green);
}

.c8{
   background-color: var(--violet);
}

.fa-bookmark-o{
    margin-left:16rem;
    margin-top:0.5rem;
    cursor: pointer;
}


.tooltip{
    visibility:hidden; 
   position: absolute;
   z-index: 1;
   background-color: var(--Gray);
   padding: 0.5rem;
   font-size:0.8rem;
   font-family: 'Montserrat', sans-serif; 
   font-style:italic;
}

.fa-bookmark-o:hover .tooltip{
    visibility: visible;
}

/* footer */
.details {
    float: right;
    font-size: large;
    margin-right: 5rem;
}

.list-contact {
    padding: 0.5rem;
    color: white;
}

i {
    padding-right: 1rem;
}

.footer-image {
    height: 10rem;
    margin-left: 2rem;
}

.footer-container {
    display: inline-block;
    padding: 1.5rem;
}

.footer {
    background-color: var(--carlet);
    position: absolute;
    width: 100%;
    overflow: hidden;

}

.vl1 {
    display: inline-block;
    border-left: 3px solid var(--Gray);
    height: 10rem;
    opacity: 0.5;
    margin-left: 7rem;
}

.vl2 {
    display: inline-block;
    border-left: 3px solid var(--Gray);
    height: 10rem;
    opacity: 0.5;
    margin-left: 45rem;
}